mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.toolbar-spacer{
    flex: 1 1 auto;
}

.main-input{
    font-size: 14.2px;
}

mat-form-field{
    width: 82%;
}

.myform{
    width: 44%;
}

.myform-sm{
    width: 83%;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 2px;
}