.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afafaf;
  background-image: url("/../../../assets/img/provider-icons.png");
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.main-input{
    line-height: 3.4em;
    font-size: 14px;
}
.main-form{
    min-width: 150px;
    width: 100%;
}

.advanced-input{
    width: 100%;
}

.main-input-full-width{
    width: 100% !important;
}

.main-card{
    width: 90%;
    text-align:center;
    opacity: 0.77;
}