::ng-deep blockquote{
    background-color: #ececec;
    border-left: 2px solid #909090;
    padding: 0.02em 16px;
    overflow-x: auto;
}

::ng-deep pre{
    background-color: #ececec;
    padding: 0.02em 16px;
    overflow-x: auto;
    padding-top: 6px;
    border-radius: 16px;
    padding-bottom: 5px;
}

::ng-deep code{
    background-color: #ececec;
    padding: 0.01em 5px;
    overflow-x: auto;
    padding-top: 6px;
    border-radius: 16px;
    padding-bottom: 5px;
}

::ng-deep img{
    max-width: 99%;
}

mat-card{
    border: 1px solid #ccc!important;
}

.main-container{
    padding: 0.01em 25px;
}

.answer-container{
    border: 1px solid #ccc!important;
    padding: 0.01em 16px;
    border-radius: 16px;
}

.question-body-container{
    border: 1px solid #ccc!important;
    padding: 0.01em 16px;
    border-radius: 16px;
}

.answer-item{
    margin-top: 1.2em;
    margin-bottom: 1.3em;
}

.question-body{
    margin-top: 1.2em;
    margin-bottom: 1.3em;
}

.is-best-mark{
    text-align: right;
    margin-top: 1em;
}

.footer-answer{
    text-align: right;
    margin-top: 1em;
}

.question-bottom{
    text-align: right;
    margin-top: 1em;
}

.mat-dialog-content{
    padding: 0px;
}