<h3 mat-dialog-title >
    <div fxLayout="row nowrap" fxFlexFill fxLayoutAlign="start stretch" >
        <div fxFlex="50%" fxFlexFill  fxFlex.xs="100%" fxFlex.sm="100%">
            <div fxLayout="row nowrap" fxFlexFill fxLayoutAlign="start stretch">
                <div fxFlex="24%" fxFlexFill fxFlex.xs="100%" fxFlex.sm="100%">
                    <span *ngIf="!question.isVoted">Relevant content?</span>
                    <span *ngIf="question.isVoted"> <b class="verde">Voted</b></span>
                </div>
                <div fxFlex="76%" fxFlexFill fxFlex.xs="100%" fxFlex.sm="100%">
                    <star-rating *ngIf="!question.isVoted" value="0" totalstars="{{totalstar}}" checkedcolor="#f3734c" uncheckedcolor="#4a4a4a" size="24px"
                        readonly="false" (rate)="setQuestionVote($event)"></star-rating>
                </div>
            </div>
        </div>
        <div fxFlex="50%" fxFlexFill  fxFlex.xs="100%" fxFlex.sm="100%" align="end">
            <button mat-button (click)="closeModal()">Cerrar [X]</button>
        </div>
    </div>
</h3>
<mat-dialog-content class="mat-typography">
    <div class ="main-container">
        <mat-card id="question-container">
            <mat-card-header>
                <div mat-card-avatar class="origin-{{originId}}-image"></div>
                <mat-card-title [innerHTML]="question.title"></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br />
                <div mat-line class="question-body-container">
                    <div [innerHTML]="question.body" class="question-body"></div>
                </div>
                <div class="question-bottom">
                    <p> 
                        <b>Source: </b> <a href="{{question.url}}" target="_blank">{{getSourceTitle()}}</a>
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
        <br />
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="answers-mark"></div>
                <mat-card-title>Answers ({{getAnswersAmount()}})</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br />
                <div *ngFor="let answer of question.answers">
                    <div class="answer-container">
                        <div class="is-best-mark" *ngIf="answer.isBest" >
                            <img src="/assets/img/best-answer-mark.png" alt="Best Answer" width="28px">
                        </div>
                        <div mat-line [innerHTML]="answer.body" class="answer-item"></div>
                        <div class="footer-answer" *ngIf="!question.hasError">
                            <div *ngIf="!answer.isVoted">
                                <span> <b>Is it useful?</b></span>
                                <button mat-button (click)="setAnswerVote(answer.id, 1)" class="verde">Sí</button>
                                <button mat-button (click)="setAnswerVote(answer.id, 0)" class="azul">No</button>
                            </div>
                            <span *ngIf="answer.isVoted"> <b class="verde">Voted</b></span>
                        </div>
                    </div>
                    <br/>
                    <br/>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

</mat-dialog-content>