::ng-deep blockquote{
    background-color: #f9f9f9;
    border-left: 2px solid #909090;
    padding: 0.02em 16px;
    overflow-x: auto;
}

::ng-deep pre{
    background-color: #f9f9f9;
    padding: 0.02em 16px;
    overflow-x: auto;
}

::ng-deep code{
    background-color: #f9f9f9;
    padding: 0.01em 5px;
    overflow-x: auto;
}

mat-card{
    border: 1px solid #ccc!important;
}

.main-container{
    padding: 0.01em 30px;
    margin-top: 1.8em;
    margin-bottom: 1.5em;
}

.answer-container{
    border: 1px solid #ccc!important;
    padding: 0.01em 16px;
    border-radius: 16px;
}

.question-body-container{
    border: 1px solid #ccc!important;
    padding: 0.01em 16px;
    border-radius: 16px;
}

.answer-item{
    margin-top: 1.2em;
    margin-bottom: 1.3em;
}

.question-body{
    margin-top: 1.2em;
    margin-bottom: 1.3em;
}

.is-best-mark{
    text-align: right;
    margin-top: 1em;
}

.question-bottom{
    text-align: right;
    margin-top: 1em;
}

