
mat-card{
    border: 1px solid #ccc!important;
}

.main-container{
    padding: 0.01em 25px;
}

.question-body-container{
    border: 1px solid #ccc!important;
    padding: 0.01em 16px;
    border-radius: 16px;
}

.question-body{
    margin-top: 1.2em;
    margin-bottom: 1.3em;
}


.question-bottom{
    text-align: right;
    margin-top: 1em;
}

.mat-dialog-content{
    padding: 0px;
}