.text{
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.has-text-centered{
  text-align: center;
}

.truncate-overflow {
  --max-lines: 3;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
}

.origin-0-image{
  background-image: url('/../../../assets/img/so.png');
  background-size: cover;
}

.origin-1-image{
  background-image: url('/../../../assets/img/windows.png');
  background-size: cover;
}

.origin-2-image{
  background-image: url('/../../../assets/img/github.png');
  background-size: cover;
}