<mat-card >
    <div mat-subheader>Answers</div>
    <ng-container *ngFor="let question of questions">
        <mat-list-item >
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line>{{question.title}}</div>
            <ng-container *ngFor="let answer of question.answers">
                <mat-list-item >
                    <div mat-line>{{answer.body}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
</mat-card>