<app-header></app-header>
<div fxLayout="row nowrap" fxFlexFill fxLayoutAlign="start stretch">
  <!-- FLEX-CHILD - LEFT -->
  <div id="lista-resultados" fxFlex="50%" fxFlexFill  fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card class="header-results">
        <p><b>Se encontraron {{searchedItems.length}} resultados</b></p>
    </mat-card>
    <div class="item-loading" *ngIf="searchedItems.length == 0 && isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="item-loading" *ngIf="searchedItems.length == 0 && !isLoading">
        <span>No se encontraron registros</span>
    </div>
    <ng-container *ngFor="let searchedItem of searchedItems | paginate: { id: 'index-page', itemsPerPage: 4, currentPage: page }">
        <mat-list-item>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar (click)="openModal(searchedItem.originId, searchedItem.questionElementId, searchedItem.searchInterfaceId, searchedItem.question)" class="origin-{{searchedItem.originId}}-image select-pointer"></div>
                    <mat-card-title (click)="openModal(searchedItem.originId, searchedItem.questionElementId, searchedItem.searchInterfaceId, searchedItem.question)" class="select-pointer">{{searchedItem.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div mat-line>{{searchedItem.content}}</div> 
                </mat-card-content>
            </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>

    <div class="has-text-centered">
        <pagination-controls id="index-page" (pageChange)="page = $event" autoHide="true" responsive="true"></pagination-controls>
    </div>
  </div>
  <!-- FLEX-CHILD - RIGHT -->
  <div id="preview" fxFlex="50%" fxFlexFill fxHide.lt-md fxFlex.xs="100%" fxFlex.sm="100%" >
    <mat-card class="header-results">
        <p><b>Respuestas recomendadas</b></p>
    </mat-card>
    <div class="item-loading" *ngIf="possibleAnswers.length == 0">
        <mat-spinner></mat-spinner>
    </div>
    
    <mat-card *ngIf="possibleAnswers.length != 0" style="overflow: auto; max-height: 70%;">
        <mat-card-content >
            <div *ngFor="let answer of possibleAnswers">
                <div class="answer-container">
                    <div class="is-best-mark" *ngIf="answer.isBest" >
                        <img src="/assets/img/best-answer-mark.png" alt="Best Answer" width="25px">
                    </div>
                    <div mat-line [innerHTML]="answer.body" class="answer-item"></div>
                    <div class="footer-answer">
                        <div *ngIf="!answer.isVoted">
                            <span> <b>Is it useful?</b></span>
                            <button mat-button (click)="setAnswerVote(answer.id, answer.questionId, 1)" class="verde">Sí</button>
                            <button mat-button (click)="setAnswerVote(answer.id, answer.questionId, 0)" class="azul">No</button>
                        </div>
                        <span *ngIf="answer.isVoted"> <b class="verde">Voted</b></span>
                    </div>
                </div>
                <br/>
            </div>         
        </mat-card-content>
    </mat-card>
  </div>
</div>

